<div class="main-container">
  <div class="master-heading bcspace">
    <div class="back-btn">
      <a mat-button (click)="db.goBack()" ><i class="material-icons">arrow_right_alt</i></a>
    </div>
    <div class="vl-info">
      <ul>
        <li class="af-none"><p><span class="blue"> {{db.franchise_name}}</span> <i class="material-icons r-arrow">keyboard_arrow_right</i>  </p></li>
        <li><p>total : <span>{{ total_consigners }}</span></p></li>
      </ul>
    </div>
    <div class="top-search wp30 ml30">
        <input type="text" placeholder="SEARCH Name or Mobile. . ." [(ngModel)]="filter.search"  (keyup.enter)="current_page = 1;getConsumers()">
        <i class="material-icons">search</i>
      </div>

    <div class="top-pagination m-right-data">
            <ul>
                <li><p>Pages {{ current_page }} of {{ last_page }}</p></li>
                <li><button mat-button class="left-btn" (click) = 'redirect_previous()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getConsumers()"></li>
                <li><button mat-button class="right-btn" (click) = 'redirect_next()'><i class="material-icons">keyboard_arrow_right</i></button></li>
            </ul>
        </div>
  </div>
  <div class="cs-container">
    <div class="cs-row cs-tabs-space">
      <!-- TABS Component -->
      <app-branch-left-tab *ngIf="db.datauser.branch_id == 0 "></app-branch-left-tab>
     
      <!-- TABS Component -->
      <div class="right-data tabs-listing" [ngClass]="{'pl0' : db.datauser.branch_id}">
          <div class="cs-spinner full-page" *ngIf="loading_list">
              <div class="outer">
                <div class="innear">
                  <mat-spinner></mat-spinner>
                  <!-- <P>LOADING . . .</P> -->
                </div>
              </div>
            </div>
          <div class="row">
            <div class="cs-table">
              <div class="header sticky-header">
                  <app-branch-pickup-header-tab>/</app-branch-pickup-header-tab>
                <table>
                  <tr>
                    <th class="w30">&nbsp;</th>
                    <th class="w150">Consignee</th>
                    <!-- <th class="w100 text-center">InTransit Qty</th> -->
                    <th class="w100 text-center">Ready for Pickup</th>
                    <!-- <th class="w100 text-center">Picked Stock</th> -->
                  </tr>
                </table>
              </div>
              <div class="table-container">
                <div class="table-body">
                  <table>
                    <tr *ngFor="let product of pickup; let i = index">
                      <td class="w30 text-center">{{ ( (current_page - 1 ) * 20 ) + ( i+1 ) }}</td>
                      <td class="w150"><a mat-button class="link" routerLink="/consigner-detail/{{product.consignee_id}}" routerLinkActive="active">{{product.name}}</a></td>
                      <!-- <td class="w100 text-center">{{ product.total_intransit_qty }}</td> -->
                      <td class="w100 text-center">
                        <a mat-button class="link" (click)="openDialog( product.consignee_id,1)">{{ product.total_fresh_stock }}</a> 
                      </td>
                      <!-- <td class="w100 text-center" >  <a mat-button class="link" (click)="openDialog( product.consignee_id , 1)"> {{ product.total_picked_stock }} </a></td> -->
                    </tr>
                  </table>
                </div>
              </div>
            </div>   
          </div>

      </div>
    </div>
  </div>
</div>
