<!-- <div class="master-tabs master-list-tab">
    <ul>
        <li><a mat-raised-button routerLink="/branch-stock/{{franchise_id}}" routerLinkActive="active">Freash Stock</a></li>
        <li><a mat-raised-button >Maintenance Stock</a></li>
        <li><a mat-raised-button >Scrap Stock</a></li>
        <li><a mat-raised-button routerLink="/branch-received-stock/{{franchise_id}}" routerLinkActive="active">Received Stock</a></li>
    </ul>
</div> -->


<div class="cs-table-tabs clr-tab tabs-bg outer-space mt0">
  <ul>
      <li><a mat-raised-button routerLink="/branch-pickup/{{franchise_id}}" routerLinkActive="active"><p>Pickup</p></a></li>
      <li><a mat-raised-button routerLink="/branch-pickup-history/{{franchise_id}}" routerLinkActive="active"><p>Pickup HIstory</p></a></li>
  </ul>
</div>

<!-- routerLink="/branch-stock/{{franchise_id}}" routerLinkActive="active"
  routerLink="/branch-stock/{{franchise_id}}" routerLinkActive="active" -->