
<div class="master-tabs master-list-tab">
    <ul>
        <li><a mat-raised-button routerLink="/finish-material-detail/{{finish_good_id}}/{{finish_good_item_id}}" routerLinkActive="active">Incoming</a></li>
        <!-- <li><a mat-raised-button routerLink="/finish-manual-income/{{finish_good_id}}/{{finish_good_item_id}}" routerLinkActive="active">Manual Income</a></li> -->
        <!-- <li><a mat-raised-button routerLink="/finish-outgoing/{{finish_good_id}}/{{finish_good_item_id}}" routerLinkActive="active">Outgoing</a></li> -->
        <!-- <li><a mat-raised-button routerLink="/transfer-outgoing/{{finish_good_id}}/{{finish_good_item_id}}" routerLinkActive="active">Transfer Outgoing</a></li> -->
        <!-- <li><a mat-raised-button routerLink="/consumption-outgoing/{{finish_good_id}}/{{finish_good_item_id}}" routerLinkActive="active">Consumption Outgoing</a></li> -->
        
    </ul>
</div>