<div class="main-container">
	<div class="master-heading bcspace">
		<div class="back-btn">
			<a mat-button (click)="db.goBack()" ><i class="material-icons">arrow_right_alt</i></a>
		</div>
		<div class="vl-info">
			<ul>
				<li><p><span>{{db.franchise_name}}</span></p></li>
				<!-- <li><p class="light">Customers : <span style="color: #000;">25</span></p></li> -->
				<!-- <li class="af-none"><p class="light">Orders : <span style="color: #000;">35/<strong style="color: #ED3237;">12</strong></span></p></li> -->
				<li class="af-none" ><a mat-button  color="warn" class="edit-page"   (click)="edit()"><i class="material-icons"  >create</i></a></li>
				
			</ul>
		</div>
		
		
	</div>
	<div class="cs-container">
		<div class="cs-row cs-tabs-space">
			<!-- TABS Component -->
			<app-consignee-left-tab></app-consignee-left-tab>
			
			
			<!-- TABS Component -->
			<div class="right-data">
				<div class="cs-spinner full-page" *ngIf="loading_list">
					<div class="outer">
						<div class="innear">
							<mat-spinner></mat-spinner>
							<!-- <P>LOADING . . .</P> -->
						</div>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-8">	
						<div class="contst">
							<div class="cs-heading">
								<h2>BASIC DETAIL</h2>
							</div>
							
							<div class="side-by-side mt10" style="display: inherit;">
								<div class="row mr0">
									<div class="figure grid-three">
										<p>Name</p>
										<p>{{getData.consignee_name}}</p>
									</div>
									<div class="figure grid-three">
										<p>Email</p>
										<p>{{getData.contact_email}}</p>
									</div>
									<div class="figure grid-three">
										<p>Mobil No.</p>
										<p>{{getData.contact_no}}</p>
									</div>
								</div>
							</div>
							
							<div class="cs-heading mt20">
								<h2>CONSIGNEE INFO</h2>
							</div>
							
							<div class="side-by-side mt10" style="display: inherit;">
								<div class="row mr0">
									<div class="figure grid-two">
										<p>Consignee Name</p>
										<p>{{getData.consignee_name}}</p>
									</div>
									<div class="figure grid-two">
										<p>Email</p>
										<p>{{getData.consignee_email}}</p>
									</div>
									<div class="figure grid-two">
										<p>Landline No.</p>
										<p>{{getData.consignee_landline_no}}</p>
									</div>
									<div class="figure grid-two">
										<p>Mobile No.</p>
										<p>{{getData.consignee_mobile}}</p>
									</div>
									<div class="figure grid-two">
										<p>Pan no</p>
										<p>{{getData.consignee_pan_no}}</p>
									</div>
									<div class="figure grid-two">
										<p>GST</p>
										<p>{{getData.consignee_gstin}}</p>
									</div>
									<!-- <div class="figure grid-two">
											<table>
												<ng-container *ngFor="let val of consigners; let i = index">
													<tr>
														<td>{{val.name}} ( {{val.branch_name}} )</td>
													</tr>
												</ng-container>
											</table>
											
										</div> -->
									</div>
								</div>
								<div class="cs-table left-right-15">
									<div class="header sticky-header">
										<table>
											<tr>
												<th>Consignor</th>
												<th class="w200">Branch</th>
											</tr>
										</table>
									</div>
									<div class="table-container">
										<div class="table-body">
											<table>
												<tr *ngFor="let val of consigners; let i = index">
													<td>{{val.name}}</td>
													<td class="w200">{{val.branch_name}}</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
								
								
								
								
								<div class="cs-heading mt20">
									<h2>ADDRESS INFO</h2>
								</div>
								
								<div class="side-by-side mt10" style="display: inherit;">
									<div class="row mr0">
										<div class="figure grid-two">
											<p>Country</p>
											<p>{{getData.country_name}}</p>
										</div>
										<div class="figure grid-two">
											<p>State</p>
											<p>{{getData.state}}</p>
										</div>
										<div class="figure grid-two">
											<p>District</p>
											<p>{{getData.district}}</p>
										</div>
										<div class="figure grid-two">
											<p>City</p>
											<p>{{getData.city}}</p>
										</div>
										<div class="figure grid-two">
											<p>Pincode</p>
											<p>{{getData.pincode}}</p>
										</div>
										<div class="figure grid-two">
											<p>Address</p>
											<p>{{getData.address}}</p>
										</div>
									</div>
								</div>
								
								<!-- <div class="cs-heading mt20" >
									<h2>SHIPPING ADDRESS INFO</h2>
								</div>
								
								<div class="side-by-side mt10" style="display: inherit;">
									<div class="row mr0">
										<div class="figure grid-two">
											<p>Country</p>
											<p>{{getData.country_name}}</p>
										</div>
										<div class="figure grid-two">
											<p>State</p>
											<p>{{getData.ship_state}}</p>
										</div>
										<div class="figure grid-two">
											<p>District</p>
											<p>{{getData.ship_district}}</p>
										</div>
										<div class="figure grid-two">
											<p>City</p>
											<p>{{getData.ship_city}}</p>
										</div>
										<div class="figure grid-two">
											<p>Pincode</p>
											<p>{{getData.ship_pincode}}</p>
										</div>
										<div class="figure grid-two">
											<p>Address</p>
											<p>{{getData.ship_address}}</p>
										</div>
									</div>
								</div> -->
								<div class="col-4" *ngIf ="false">
									<div class="right-data">
										<div class="contst left-calls-info">
											<div class="cs-heading">
												<h2 (click)="currentdeals()">DEALING WITH</h2>
												<p><a mat-button (click)="remainingdeals()" class="font13 blc" style="margin-top: -10px;" *ngIf="vendor_redeal.length" >Add New Product</a></p>
											</div>                      
											<ul *ngIf="current_deal">
												<li *ngFor="let deals of vendor_deal; let y = index">
													<div class="head">
														<div class="txt-box">
															<p>
																<span class="cs-head">Part number </span>
																{{deals.part_number}}
															</p>
															<p>
																<span class="cs-head">Price </span>
																{{deals.sale_price}}
															</p>  
															<p><span class="cs-head">Size </span>{{deals.dimensions}}</p>
														</div>                                       
														<p class="date">
															<!-- <mat-checkbox class="cs-check" value={{deals.pro_id}} style="width:10%;display: inline-block;" 
																(change)="update_vendor_deal_remove(deals.pro_id)"
																name = "deal_pro_id"
																checked=true></mat-checkbox>  -->
																<a mat-button class="font12"  (click)="update_vendor_deal_remove(deals.id)">Remove</a> 
															</p>
														</div>
													</li>
												</ul>
												
												<!-- Add product Data -->
												<mat-dialog-content class="convert-franchies-modle" *ngIf="remaining_deal">
													<div class="m-body">
														<div class="row">
															<div class="col-12 plan-list step1 shadow-none" style="background: transparent;">
																<div class="listing">  
																	<ul class="checkbox-list pr15">
																		<li class="pt15" *ngFor="let productss of vendor_redeal; let  z=index" >
																			<label>
																				<div class="txt-box">
																					<p>
																						<span class="cs-head">Part number </span>
																						{{productss.part_number}}
																					</p>
																					<p>
																						<span class="cs-head">Price </span>
																						{{productss.sale_price}}
																					</p>  
																					<p><span class="cs-head">Size </span>{{productss.dimensions}}</p>
																				</div>
																				<mat-checkbox class="cs-check" value={{productss.pro_id}} (change)="update_vendor_deal_add(productss.id,productss.part_number)"
																				name = "deal_pro_id"
																				style="width:5%;display: inline-block;"></mat-checkbox>
																			</label>
																		</li>                                                    
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</mat-dialog-content>
											</div>
										</div>
									</div>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="h100"></div>
			</div>
		</div>
		
		<div class="h100"></div>
		