<div class="main-container">
  <div class="cs-spinner full-page" *ngIf = "!loading_page">
    <div class="outer">
      <div class="innear">
        <mat-spinner></mat-spinner>
        <P>LOADING . . .</P>
      </div>
    </div>
  </div>
  <div class="master-heading bcspace" *ngIf = "loading_page">
    <div class="back-btn">
      <a mat-button (click)="db.goBack()" ><i class="material-icons">arrow_right_alt</i></a>
    </div>
    <div class="vl-info">
      <ul>
        <li class="af-none"><p><span class="blue"> {{db.franchise_name}}</span>
          <!-- <li><p>total : <span>{{ total_consigners }}</span></p></li> -->
        </ul>
      </div>
      <div class="top-search wp30 ml30">
        <input type="text" placeholder="SEARCH. . ." [(ngModel)]="search"  (keyup.enter)="current_page = 1;getProductList()">
        <i class="material-icons">search</i>
      </div>
      
      
      
      <div class="top-pagination m-right-data">
        <ul>
          <li><p>Pages {{ current_page }} of {{ last_page }}</p></li>
          <li><button mat-button class="left-btn" (click) = 'redirect_previous()'><i class="material-icons">keyboard_arrow_left</i></button></li>
          <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getProductList()"></li>
          <li><button mat-button class="right-btn" (click) = 'redirect_next()'><i class="material-icons">keyboard_arrow_right</i></button></li>
        </ul>
      </div>
    </div>
    <div class="cs-container" *ngIf="loading_page">
      <div class="cs-row cs-tabs-space">
        <!-- TABS Component -->
        <app-branch-left-tab *ngIf="db.datauser.branch_id == 0 "></app-branch-left-tab>
        <!-- TABS Component -->
        <div class="right-data tabs-listing" [ngClass]="{'pl0' : db.datauser.branch_id}">
          
          <div class="cs-spinner half-page" *ngIf="!loading_list">
            <div class="outer">
              <div class="innear">
                <mat-spinner></mat-spinner>
                <P>LOADING . . .</P>
              </div>
            </div>
          </div>
          <div class="row">
           
            <div class="cs-table" *ngIf="loading_list">
              
              <div class="header sticky-header">
                <app-branch-stock-header-tab></app-branch-stock-header-tab>
                <div class="simple-select">
                    <select [(ngModel)]="filter.status" name="status" (change)="getProductList()">
                        <option value="">All</option>
                        <option value="Pending">Pending</option>
                        <option value="Delivered">Delivered</option>
                      </select>
                </div>
                <table>
                  <tr>
                    <th class="w30">&nbsp;</th>
                    <th class="w100">Created Date</th>
                    <th class="w110">Created By</th>
                    <th class="w150">Transfer No.</th>
                    <th class="w150">Total Item</th>
                    <th class="w150 text-centre">Total Qty</th>
                    <th class="w150 text-centre">Status</th>
                  </tr>
                </table>
              </div>
              <div class="table-container">
                <div class="table-body">
                  <table>
                    <tr *ngFor="let product of products; let i = index">
                      <td class="w30">{{ i + 1  }}</td>
                      <td class="w100">{{ product.date_created  | date: 'dd MMM yyyy' }}</td>
                      <td class="w110">{{ product.created_name }}</td>
                      <td class="w150"><a mat-button class="link" routerLink="/transfer-stock-detail/{{product.id}}" routerLinkActive="active">{{ product.invoice_id }} </a></td>
                      <td class="w150">{{ product.total_item }}</td>
                      <td class="w150 text-centre">{{ product.total_qty }}</td>
                      <td class="w150 text-centre">{{ product.status }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="h100"></div>
  