
<div class="master-tabs master-list-tab">
    <ul>
        <li><a mat-raised-button routerLink="/material-incoming/{{finish_good_id}}/{{finish_good_item_id}}" routerLinkActive="active">Incoming</a></li>
        <!-- <li><a mat-raised-button routerLink="/material-outgoing/{{finish_good_id}}/{{finish_good_item_id}}" routerLinkActive="active">Outgoing</a></li> -->
        <!-- <li><a mat-raised-button routerLink="/manual-income/{{finish_good_id}}/{{finish_good_item_id}}" routerLinkActive="active">Manually</a></li> -->
    </ul>
</div>