<div class="main-container">
    <div class="master-heading bcspace">
        <div class="back-btn">
            <a mat-button><i class="material-icons">arrow_right_alt</i></a>
        </div>
        <div class="top-search wp30 ml30">
            <input type="text" placeholder="SEARCH. . ." [(ngModel)]="search"  (keyup.enter)="getProductList()">
            <i class="material-icons">search</i>
        </div>
        
        <div class="top-pagination m-right-data">
            <ul>
                <li><p>Pages {{ current_page }} of {{ last_page }}</p></li>
                <li><button mat-button class="left-btn" (click) = 'redirect_previous()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getProductList()"></li>
                <li><button mat-button class="right-btn" (click) = 'redirect_next()'><i class="material-icons">keyboard_arrow_right</i></button></li>
            </ul>
        </div>
        
        
        <!-- <div class="m-right-data action-btns-right vl-info" >
            <ul>
                <li class="create"><a routerLink="/add-finish-good" routerLinkActive="active"   mat-button>Add Finish Good</a></li>
            </ul>
        </div>  -->
        
        <!-- <div class="m-right-data action-btns-right vl-info" *ngIf="save"> -->
            <!-- <ul>
                <li class="create" (click)="update_qty()"><a mat-button>Save</a></li>
            </ul> -->
            <!-- </div>  -->
            
        </div>
        <div class="cs-container">
            <div class="cs-row cs-tabs-space">
                    <app-branch-left-tab></app-branch-left-tab>
                <div class="right-data tabs-listing">
                    <div class="cs-spinner full-page" *ngIf = "loading_list">
                        <div class="outer">
                            <div class="innear">
                                <mat-spinner></mat-spinner>
                                <P>LOADING . . .</P>
                            </div>
                        </div>
                    </div>
                    <div class="cs-table mt15" *ngIf="products.length > 0" style="display: none;">
                        <div class="header sticky-header">
                                <app-branch-stock-header-tab></app-branch-stock-header-tab>
                            <table>
                                <tr>
                                    <th class="w30">&nbsp;</th>
                                    <th class="w150">Equipment Id</th>
                                    <th >Size</th>
                                    <th class="w200">Description</th>
                                    <th class="w150">Fresh Alert</th>
                                    <th class="w100">Scrap Stock</th>
                                    <th class="w100">Maintenance Stock</th>
                                </tr>
                            </table>
                        </div>
                        <div class="table-container">
                            <div class="table-body">
                                <table>
                                    <tr *ngFor="let product of products; let i = index">
                                        <td class="w30">{{ i + 1  }}</td>
                                        <td class="w150">{{ product.part_number }}</td>
                                        <td >{{ product.size }}</td>
                                        <td class="w200">{{ product.description }}</td>
                                        <td class="w150">{{ product.fresh_stock }}</td>
                                        <td class="w100">{{ product.scrap_stock }}</td>
                                        <td class="w100">{{ product.Maintenance_stock }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div> 
                    <div class="cs-table mt15" *ngIf="products.length > 0">
                        <div class="header sticky-header">
                                <app-branch-stock-header-tab></app-branch-stock-header-tab>
                            <table>
                                <tr>
                                    <th class="w30">&nbsp;</th>
                                    <th class="w150">Equipment Id</th>
                                    <th >Size</th>
                                    <th class="w200">Description</th>
                                    <th class="w100 text-center">Fresh Stock</th>
                                    <th class="w100 text-center">Scrap Stock</th>
                                    <th class="w100 text-center">Maintenance Stock</th>
                                </tr>
                            </table>
                        </div>
                        <div class="table-container">
                            <div class="table-body">
                                <table>
                                    <tr *ngFor="let product of products; let i = index">
                                        <td class="w30">{{ i + 1  }}</td>
                                        <td class="w150">{{ product.part_number }}</td>
                                        <td >{{ product.dimensions }}</td>
                                        <td class="w200">{{ product.description }}</td>
                                        <ng-container *ngIf="!managestock">   
                                            <td class="text-center w100" > {{product.fresh_stock}}</td>
                                            <td class="text-center w100" >
                                                <div class="edit-td-input active">
                                                    <input  placeholder="Qty." [ngClass]="{'red' : product.greater }" [(ngModel)]="product.scrap_stock" type="number" [name]="'update_qty'+i" #update_qty="ngModel" (change)="check(i)" [readonly]="product.updated_at">
                                                </div>
                                            </td>
                                            <td class="text-center w100" >
                                                <div class="edit-td-input active">
                                                    <input  placeholder="Qty." [(ngModel)]="product.maintenance_stock" [ngClass]="{'red' : product.greater }"  type="number" [name]="'update_qty'+i" #update_qty="ngModel" (change)="check(i)" [readonly]="product.updated_at">
                                                </div>
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="managestock">   
                                            <!-- <td class="text-center w100" > {{product.fresh_stock}}</td> -->
                                            <td class="text-center w100" >
                                                    <div class="edit-td-input active">
                                                        <input  placeholder="Qty." [(ngModel)]="product.fresh_stock" [ngClass]="{'red' : product.greater }"  type="number" [name]="'update_qty'+i" #update_qty="ngModel" (change)="checkqty(i)" [readonly]="product.updated_at">
                                                    </div>
                                        </td>
                                            <td class="text-center w100" >
                                                    <div class="edit-td-input active">
                                                        <input  placeholder="Qty." [ngClass]="{'red' : product.greater }" [(ngModel)]="product.scrap_stock" type="number" [name]="'update_qty'+i" #update_qty="ngModel" (change)="checkqty(i)" [readonly]="product.updated_at">
                                                    </div>
                                                </td>
                                                <!-- <td class="text-center w100" >
                                                        <div class="edit-td-input active">
                                                            <input  placeholder="Qty." [(ngModel)]="product.maintenance_stock" [ngClass]="{'red' : product.greater }"  type="number" [name]="'update_qty'+i" #update_qty="ngModel" (change)="check(i)" [readonly]="product.updated_at">
                                                        </div>
                                            </td> -->
                                            <td class="text-center w100" > {{product.maintenance_stock}}</td>

                                        </ng-container>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div> 
                    <div class="cs-btn fixedd mt32 text-right" [ngClass]="{loading: loading_list}">
                            <div class="in-btn">
                              <button mat-raised-button (click)="update_stock()"  [disabled]="loading_list" color="primary">Save</button>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="h100"></div>