<div class="master-tabs">
    <ul>
        <!-- <li><a mat-raised-button routerLink="/stock-list-ad" routerLinkActive="active">Raw Material</a></li> -->
        <!-- <li><a mat-raised-button routerLink="/stock-accessories" routerLinkActive="active">Accessories</a></li> -->
        <li><a mat-raised-button routerLink="/fresh-stock" routerLinkActive="active">Fresh Stock</a></li>
        <li><a mat-raised-button routerLink="/maintenance-stock" routerLinkActive="active">Maintenance Stock</a></li>
        <li><a mat-raised-button routerLink="/scrap-stock" routerLinkActive="active">Scrap Stock</a></li>
        <li><a mat-raised-button routerLink="/transfer-stock-list" routerLinkActive="active">Transfer Stock</a></li>
        <li><a mat-raised-button routerLink="/manage-stock-list" routerLinkActive="active">Manage Stock</a></li>

    </ul>
</div>