<div class="main-container">
    <div class="master-heading bcspace">
        <div class="back-btn">
            <a mat-button (click)="db.goBack()" ><i class="material-icons">arrow_right_alt</i></a>
        </div>
        <div class="top-search wp30 ml30">
            <input type="text" placeholder="SEARCH. . ." [(ngModel)]="filter.search"  (keyup.enter)="getProductList()">
            <i class="material-icons">search</i>
        </div>
        
        <div class="top-pagination m-right-data">
            <ul>
                <li><p>Pages {{ current_page }} of {{ last_page }}</p></li>
                <li><button mat-button class="left-btn" (click) = 'redirect_previous()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getProductList()"></li>
                <li><button mat-button class="right-btn" (click) = 'redirect_next()'><i class="material-icons">keyboard_arrow_right</i></button></li>
            </ul>
        </div>
        
        
        <!-- <div class="m-right-data action-btns-right vl-info" >
            <ul>
                <li class="create"><a routerLink="/add-finish-good" routerLinkActive="active"   mat-button>Add Finish Good</a></li>
            </ul>
        </div>  -->
        
        <!-- <div class="m-right-data action-btns-right vl-info" *ngIf="save"> -->
            <!-- <ul>
                <li class="create" (click)="update_qty()"><a mat-button>Save</a></li>
            </ul> -->
            <!-- </div>  -->
            
        </div>
        <div class="cs-container">
            <div class="cs-row cs-tabs-space">
                <app-stock-tab></app-stock-tab>
                <div class="right-data tabs-listing">
                    <div class="cs-spinner full-page" *ngIf = "loading_list">
                        <div class="outer">
                            <div class="innear">
                                <mat-spinner></mat-spinner>
                                <P>LOADING . . .</P>
                            </div>
                        </div>
                    </div>
                    <div class="cs-table mt15" >
                        <div class="header sticky-header">
                            <table>
                                <tr>
                                    <th class="w30">&nbsp;</th>
                                    <th class="w110">
                                        <div class="filter">
                                            <mat-form-field class="cs-input cs-date-picker">
                                                <input placeholder="Date" [(ngModel)]="filter.date" name="date" matInput (dateChange)="getProductList()" [matDatepicker]="picker" >
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        
                                    </th>
                                    <th class="w120">Created By</th>
                                    <th class="w100">Branch name</th>
                                    <th class="w150">Transfer Id</th>
                                    <th class="w150">Total Item</th>
                                    <th class="w150">Total Qty</th>
                                    <th class="w150">
                                        <div class="filter">
                                            <mat-form-field class="w140">
                                                <mat-select placeholder="Status" (selectionChange)="getProductList()" [(ngModel)]="filter.status">
                                                    <mat-option value="" >All</mat-option>
                                                    <mat-option value="Delivered" >Delivered</mat-option>
                                                    <mat-option value="Pending" >Pending</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="table-container">
                            <div class="table-body">
                                <table>
                                    <tr *ngFor="let product of products; let i = index">
                                        <td class="w30">{{ i + 1  }}</td>
                                        <td class="w110">{{ product.date_created    | date: 'dd MMM yyyy' }}</td>
                                        <td class="w120">{{ product.created_name }}</td>
                                        <td class="w100"><a mat-button class="link" routerLink="/branch-detail/{{product.branch_id}}" routerLinkActive="active">{{product.branch_name}} </a></td>
                                        <td class="w150"><a mat-button class="link" routerLink="/transfer-stock-detail/{{product.id}}" routerLinkActive="active">{{ product.invoice_id }} </a></td>
                                        <td class="w150">{{ product.total_item }}</td>
                                        <td class="w150">{{ product.total_qty }}</td>
                                        <td class="w150">{{ product.status }}
                                            <div class="action-btns">
                                                <a mat-button class="view" routerLink="/transfer-stock-detail/{{product.id}}" routerLinkActive="active"><i class="material-icons">remove_red_eye</i> View</a>
                                                <a *ngIf="product.status == 'Pending' " mat-button class="edit" routerLink="/c-to-b-transfer-stock-edit/{{product.id}}" routerLinkActive="active"><i class="material-icons" >create</i> Edit</a>
                                                <a *ngIf="product.status == 'Pending' " mat-button class="delete" (click)="transferStockCancel(product.id)"><i class="material-icons" >delete</i> Cancel</a>
                                            </div>  
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div> 
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="h100"></div>