<div class="main-container"> 
        <div class="master-heading">
            <div class="vl-info">
                <ul>
                    <li><p>consigners : <span>{{ total_consigners }}</span></p></li>
                    <li (click)="orderListReverse()"><p class="pl30"><i class="material-icons icon">swap_vert</i><span>Sort</span></p></li>
                </ul>
            </div>
            <div class="top-search wp30 ml30">
                <input type="text" placeholder="SEARCH. . ." [(ngModel)]="search"  (keyup.enter)="current_page = 1;getConsignerList()">
                <i class="material-icons">search</i>
            </div>
            <div class="top-pagination m-right-data">
                <ul>
                    <li><p>Pages {{ current_page }} of {{ last_page }}</p></li>
                    <li><button mat-button class="left-btn" (click) = 'redirect_previous()'><i class="material-icons">keyboard_arrow_left</i></button></li>
                    <li><input type="text" placeholder="GO TO" [(ngModel)]="current_page"  (keyup.enter)="getConsignerList()"></li>
                    <li><button mat-button class="right-btn" (click) = 'redirect_next()'><i class="material-icons">keyboard_arrow_right</i></button></li>
                </ul>
            </div>
        </div>
        <div class="all-container" *ngIf="loading_page">
            <div class="cs-row">
                <div class="right-data">
                    <div class="cs-spinner full-page" *ngIf = "!loading_list">
                        <div class="outer">
                            <div class="innear">
                                <mat-spinner></mat-spinner>
                                <P>LOADING . . .</P>
                            </div>
                        </div>
                    </div>
                    <div class="cs-table header-fixed">
                        <div class="header">
                            <table class="sno-border">
                                <tr>
                                    <th class="w40">&nbsp;</th>
                                    <th class="w250">
                                        <div class="filter">
                                                <mat-form-field class="cs-input cs-date-picker">
                                                <input placeholder="Date/Created By" [(ngModel)]="filter.date" name="date" matInput (dateChange)="getConsignerList()" [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                    </th>
                                    <th class="w240">Company Name  </th>
                                    <th class="w180">Contact Person</th>
                                    <th class="w100">Mobile </th>
                                    <th>Address </th>
                                    <th class="w100 text-center">Running Aggrement</th>
                                    <th class="w100 text-center">Assign Branch</th>
                                    <th class="w100 text-center">Ready For PickUp</th>
                                </tr>
                            </table>
                        </div>
                        <div class="table-container">
                            <div class="table-body">
                                <table class="sno-border">
                                    <tr *ngFor="let val of consigners; let i = index">
                                        <td class="w40 text-center">{{ ( (current_page - 1 ) * 20 ) + ( i+1 ) }}</td>
                                        <td class="w250"><ng-container *ngIf="val.created_date  != '0000-00-00 00:00:00' "> {{val.created_date | date: 'dd MMM yyyy'}} /  </ng-container> {{val.created_name}}</td>
                                        <td class="w240"><a mat-button class="link" routerLink="/consigner-detail/{{val.id}}" routerLinkActive="active"> {{val.name}}</a> </td>
                                        <td class="w180">{{val.contact_name}}</td>
                                        <td class="w100">{{val.contact_no}}</td>
                                        <td>{{val.address}} {{val.city}} {{val.state}} - {{val.pincode}}
                                            <div class="action-btns">
                                                <a mat-button class="edit" routerLink="/consigner-add/{{val.id}}"  routerLinkActive="active"><i class="material-icons">edit</i> Edit</a>
                                                <a mat-button class="view" routerLink="/consigner-detail/{{val.id}}" routerLinkActive="active"><i class="material-icons">remove_red_eye</i> View</a>
                                                <!-- <button mat-button class="delete" (click)="deleteLead(val.id)"><i class="material-icons">delete_sweep</i> Delete</button> -->
                                                </div>     
                                        </td>
                                        <td class="w100 text-center">{{val.count_consignee}}</td>
                                        <td class="w100 text-center">{{val.branch_name}}</td>
                                        <td class="w100 text-center">
                                          <a mat-button class="link" (click)="openDialog( val.branch_id, val.id,2)">{{val.Intransit}}</a> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
      </div>
      
      <div class="h100"></div>