<div class="main-container">
    <div class="master-heading">
        <div class="heading">
            <h1>MASTER's</h1>
        </div>
    </div>
    <div class="cs-container">
        <div class="cs-row cs-tabs-space">
            <!-- TABS Component -->
            <!-- <app-stock-tab></app-stock-tab> -->
            <app-branch-left-tab *ngIf="db.datauser.branch_id == 0 "></app-branch-left-tab>
            
            <!-- TABS Component -->
            
            <div class="right-data" [ngClass]="{'pl0' : db.datauser.branch_id}">
                <div class="cs-spinner full-page" *ngIf = "loading_list">
                    <div class="outer">
                        <div class="innear">
                            <mat-spinner></mat-spinner>
                            <P>LOADING . . .</P>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="contst">
                            <div class="cs-heading">
                                <h2>Product DETAIL</h2>
                            </div>
                            
                            
                            <div class="row">
                                <div class="col-6">
                                    <div class="side-by-side mt15 mb15" style="display: inherit;">
                                        <div class="row mr0">
                                            <div class="figure new-figure">
                                                <p>Equipment Id</p>
                                                <p>{{item_detail.part_number}}</p>
                                            </div>
                                            <div class="figure new-figure">
                                                <p>Size</p>
                                                <p>{{item_detail.dimensions}}</p>
                                            </div>
                                            <!-- <div class="figure new-figure">
                                                <p>weight</p>
                                                <p>{{item_detail.weight}}</p>
                                            </div>
                                            <div class="figure new-figure">
                                                <p>Volume Weight</p>
                                                <p>{{ item_detail.volume_weight }}</p>
                                            </div> -->
                                            <div class="figure new-figure">
                                                <p>Description </p>
                                                <p>{{ item_detail.description }}</p>
                                            </div>
                                            
                                            <div class="figure new-figure">
                                                <p>Fresh Stock</p>
                                                <p>{{ item_detail.fresh_stock }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <app-finish-tab></app-finish-tab> -->
                            <div class="row">
                                <div class="cs-table-tabs clr-tab tabs-bg mt0 sticky-tabs">
                                    <ul>
                                        <li (click)="mode='1';getProductDetail() ">
                                            <a [ngClass]="{'active': mode == '1'  }">
                                                <p>Incoming</p>
                                            </a>
                                        </li>
                                        <li (click)="mode='2'; getbranch_outgoing()">
                                            <a  [ngClass]="{'active': ( mode == '2' || mode == '6'  )  }"> 
                                                <p>Outgoing</p>
                                            </a>
                                        </li>
                                        <!-- <li (click)="mode='6'; getChallan_Outgoing()">
                                            <a [ngClass]="{'active': mode == '6'  }"> 
                                                <p>Challan Outgoing</p>
                                            </a>
                                        </li> -->
                                        <li (click)="mode='3';getbranchsDetail() ">
                                            <a [ngClass]="{'active': mode == '3'  }">
                                                <p>Customer Stock</p>
                                            </a>
                                        </li>
                                        <li (click)="mode='4';getbranchsConsDetail() ">
                                            <a [ngClass]="{'active': mode == '4'  }">
                                                <p>Pickup From Consignee</p>
                                            </a>
                                        </li>
                                        
                                        <li (click)="mode='7';manuallyIncoming() ">
                                            <a [ngClass]="{'active': mode == '7'  }">
                                                <p>Manually Update Stock</p>
                                            </a>
                                        </li>
                                        <li (click)="mode='8';getbranchtobranchincoming() ">
                                            <a>
                                                <p>Branch To Branch </p>
                                            </a>
                                        </li>
                                        <!-- <li  *ngIf="  mode == '8' || mode == '9' "  (click)="mode='8';getInterbranchtobranchincoming()">
                                            <a [ngClass]="{'active': mode == '8'  }">
                                                <p>Incoming</p>
                                            </a>
                                        </li>
                                        <li   *ngIf=" mode == '8' || mode == '9' " (click)="mode='9';getInterbranchtobranchOutgoing()">
                                            <a [ngClass]="{'active': mode == '9'  }">
                                                <p>Outgoing</p>
                                            </a>
                                        </li> -->
                                        
                                    </ul>
                                    
                                    <div class="detail-list">
                                        
                                        <a *ngIf="  mode == '8' || mode == '9' "  (click)="mode='8';getInterbranchtobranchincoming()">
                                            <p [ngClass]="{'active': mode == '8'  }">Incoming</p>
                                        </a>
                                        <a *ngIf=" mode == '8' || mode == '9' " (click)="mode='9';getInterbranchtobranchOutgoing()">
                                            <p [ngClass]="{'active': mode == '9'  }">Outgoing</p>
                                        </a>
                                    </div>
                                    
                                    
                                    <div class="detail-list">
                                        
                                        <a *ngIf="  mode == '2' || mode == '6' "  (click)="mode='2';getbranch_outgoing()">
                                            <p [ngClass]="{'active': mode == '2'  }">Invoice</p>
                                        </a>
                                        <a *ngIf=" mode == '2' || mode == '6' " (click)="mode='6';getChallan_Outgoing()">
                                            <p [ngClass]="{'active': mode == '6'  }">Challan</p>
                                        </a>
                                    </div>
                                    
                                    
                                    
                                </div>
                                
                                
                                
                                <div class="cs-table left-right-15" *ngIf="mode == '1' ">
                                    <div class="header sticky-head">
                                        <table class="sno-border">
                                            <tr >
                                                <th class="w40">&nbsp;</th>
                                                <th class="w170">Date</th>
                                                <th class="w150">Transfer Id</th>
                                                <th class="w170">Equipment Id</th>
                                                <th class="w170">Size</th>
                                                <th class="w80 text-center">QTY</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="table-container">
                                        <div class="table-body">
                                            <table>
                                                <tr *ngFor="let p of incoiming_stock; let i = index">
                                                    <td class="w40">{{i+1}}</td>
                                                    <td class="w170">{{p.date_created   | date: 'dd MMM yyyy'}} / {{p.first_name}}</td>
                                                    <td class="w150"><a mat-button class="link" routerLink="/transfer-stock-detail/{{p.master_parts_stock_id}}" routerLinkActive="active">{{ p.invoice_id }} </a></td>
                                                    <td class="w170">{{p.part_number}}</td>
                                                    <td class="w170">{{p.dimensions}}</td>
                                                    <td class="w80 text-center">{{p.accept_qty}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="cs-table left-right-15 mt15" *ngIf="mode == '2' ">
                                    <div class="header sticky-head">
                                        <table class="sno-border">
                                            <tr >
                                                <th class="w40">&nbsp;</th>
                                                <th class="w170">Date</th>
                                                <th class="w140 text-center">Consignor</th>
                                                <th class="w140 text-center">Invoice No.</th>
                                                <th class="w150 text-center">Agreement ID </th>
                                                <th class="w80 text-center">Intransit</th>
                                                <th class="w80 text-center">QTY</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="table-container">
                                        <div class="table-body">
                                            <table>
                                                <tr *ngFor="let p of outgoing_stock; let i = index">
                                                    <td class="w40">{{ (i + 1) }}</td>
                                                    <td class="w170">{{p.date_created   | date: 'dd MMM yyyy'}} / {{p.created_name}}</td>
                                                    <td class="w140 text-center"><a mat-button class="link" routerLink="/consigner-detail/{{p.consigner_id}}" routerLinkActive="active"> {{p.name }}  </a></td>
                                                    <td class="w140 text-center"><a mat-button class="link" routerLink="/sale-invoice-detail/{{p.sales_order_deliver_id}}" routerLinkActive="active">{{p.invoice_id}}</a></td>
                                                    <td class="w150 text-center"><a mat-button class="link" routerLink="/sale-order-detail/{{p.sales_order_id}}" routerLinkActive="active">{{p.agg_id}}</a></td>
                                                    <td class="w80 text-center">{{p.intransit_qty}}</td>
                                                    <td class="w80 text-center">{{p.accept_qty}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="cs-table left-right-15 mt15" *ngIf="mode == '3' ">
                                    <div class="header" style="padding: 0px 15px;">
                                        <table>
                                            <tr>
                                                <th class="w30">&nbsp;</th>
                                                <th>Consignor Name</th>
                                                <th class="w120">Stock</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="table-container">
                                        <div class="table-body">
                                            <table *ngFor="let val of incoiming_stock; let i = index" >
                                                <tr>
                                                    <td class="w30">{{i+1}}</td>
                                                    <td >{{val.name }}</td>
                                                    <td class="w120">{{val.stock}}</td>
                                                </tr>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                                
                                
                                <div class="cs-table left-right-15" *ngIf="mode == '4' ">
                                    <div class="header sticky-head">
                                        <table>
                                            <tr >
                                                <th class="w40">&nbsp;</th>
                                                <th class="w120">Date</th>
                                                <th class="w150">Created By</th>
                                                <th class="w160">Pickup Id</th>
                                                <th >Consignee</th>
                                                <!-- <th class="w100">Consignor</th> -->
                                                <th class="w100 text-center">Qty</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="table-container">
                                        <div class="table-body">
                                            <table>
                                                <tr *ngFor="let cnsr of incoiming_stock; let i = index" >
                                                    <td class="w40">{{ (i + 1) }}</td>
                                                    <td class="w120">{{cnsr.date_created   | date: 'dd MMM yyyy'}}</td>
                                                    <td class="w150">{{cnsr.created_name}}</td>
                                                    <td class="w160"><a mat-button class="link" routerLink="/branch-pickup-history-detail/{{cnsr.pickup_id}}" routerLinkActive="active">{{cnsr.invoice_id}}</a></td>
                                                    <td ><a mat-button class="link" routerLink="/consignee-detail/{{cnsr.consignee_id}}" routerLinkActive="active">{{cnsr.consignee_name}}</a></td>
                                                    <!-- <td class="w100"><a mat-button class="link" routerLink="/consigner-detail/{{cnsr.consigner_id}}" routerLinkActive="active">{{cnsr.consignor_name}}</a></td> -->
                                                    <td class="w100 text-center">{{cnsr.picked_stock}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                                
                                
                                <div class="cs-table left-right-15" *ngIf="mode == '5' ">
                                    <div class="header sticky-head">
                                        <table class="sno-border">
                                            <tr >
                                                <th class="w40">&nbsp;</th>
                                                <th class="w170">Date</th>
                                                <th class="w130">Transfer Id</th>
                                                <th class="w120">From Branch</th>
                                                <th class="w120">To Branch</th>
                                                <th class="w130">Equipment Id</th>
                                                <th>Size</th>
                                                <th class="w80 text-center">From QTY</th>
                                                <th class="w80 text-center">To QTY</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="table-container">
                                        <div class="table-body">
                                            <table>
                                                <tr *ngFor="let p of branch_incoiming_stock; let i = index">
                                                    <td class="w40">{{i+1}}</td>
                                                    <td class="w170">{{p.date_created   | date: 'dd MMM yyyy'}} / {{p.first_name}}</td>
                                                    <td class="w130"><a mat-button class="link" routerLink="/transfer-stock-detail/{{p.master_parts_stock_id}}" routerLinkActive="active">{{ p.invoice_id }} </a></td>
                                                    <td class="w120"><a mat-button class="link" routerLink="/branch-detail/{{p.branch_from_id}}" routerLinkActive="active">{{p.from_branch_name}} </a></td>
                                                    <td class="w120"><a mat-button class="link" routerLink="/branch-detail/{{p.branch_id}}" routerLinkActive="active">{{p.to_branch_name}} </a></td>
                                                    <td class="w130">{{p.part_number}}</td>
                                                    <td>{{p.dimensions}}</td>
                                                    <td class="w80 text-center">{{p.qty}}</td>
                                                    <td class="w80 text-center">{{p.receive_qty}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cs-table left-right-15 mt15" *ngIf="mode == '6' ">
                                    <div class="header sticky-head">
                                        <!-- <table class="sno-border">
                                            <tr >
                                                <th class="w40">&nbsp;</th>
                                                <th class="w170">Date</th>
                                                <th class="w140 text-center">Consignor</th>
                                                <th class="w140 text-center">Challan No.</th>
                                                <th class="w150 text-center">Agreement ID </th>
                                                <th class="w80 text-center">QTY</th>
                                            </tr>
                                        </table> -->
                                        
                                        <table>
                                            <tr>
                                                <td class="w30 text-center">S No.</td>
                                                <td class="w170 text-center">Date</td>
                                                <th class="w140 text-center">Consignor</th>
                                                <th class="w140 text-center">Challan No.</th>
                                                <th class="w150 text-center">Agreement ID </th>
                                                <th class="w80 text-center">Intransit Qty</th>
                                                <th class="w80 text-center">QTY</th>
                                                
                                            </tr>
                                        </table>
                                        
                                        
                                        
                                    </div>
                                    <div class="table-container">
                                        <div class="table-body">
                                            <table>
                                                <tr *ngFor="let p of outgoing_challan; let i = index">
                                                    <td class="w30">{{ (i + 1) }}</td>
                                                    <td class="w170">{{p.date_created   | date: 'dd MMM yyyy'}} / {{p.created_name |titlecase}}</td>
                                                    <td class="w140 text-center"><a mat-button class="link" routerLink="/consigner-detail/{{p.consigner_id}}" routerLinkActive="active"> {{p.name }}  </a></td>
                                                    <td class="w140 text-center"><a mat-button class="link" routerLink="/consigner-aggr-challan-detail/{{p.sale_challan_id}}" routerLinkActive="active">{{p.invoice_id}}</a></td>
                                                    <td class="w150 text-center"><a mat-button class="link" routerLink="/sale-order-detail/{{p.sales_order_id}}" routerLinkActive="active">{{p.aggre_id}}</a></td>
                                                    <td class="w80 text-center">{{p.intransit_qty}}</td>
                                                    <td class="w80 text-center">{{p.accept_qty}}</td>
                                                </tr>
                                            </table>
                                            
                                            <!-- <table>
                                                <tr *ngFor="let c of outgoing_challan; let i = index">
                                                    <td class="w30 text-center">{{i+1}}</td>
                                                    <td class="w120 text-center"><strong>{{c.date_created   | date: 'dd MMM yyyy'}}</strong><p>{{c.created_name}}</p></td>
                                                    <td class="w60">
                                                        <div class="edit"><strong>{{c.type}}</strong><p *ngIf="c.type == 'Combo' ">{{c.combo_name}}</p></div>
                                                    </td>
                                                    <ng-container  *ngIf="c.type == 'Combo' ">
                                                        <td class="w200 padding0">
                                                            <table class="small-font">
                                                                <tr *ngFor="let part of c.combo_list; let i = index">
                                                                    <td>{{part.part_number}} <span>({{part.qty}}) </span></td>
                                                                    <td>{{part.dimensions}}</td>
                                                                    <td>{{part.description}}</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </ng-container>
                                                    
                                                    <ng-container  *ngIf="c.type == 'Part' ">
                                                        <td class="w200 padding0">
                                                            <table class="small-font">
                                                                <tr>
                                                                    <td>{{c.part_number}}</td>
                                                                    <td>{{c.dimensions}}</td>
                                                                    <td>{{c.description}}</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </ng-container>
                                                    <td class="w140 text-center"><a mat-button class="link" routerLink="/consigner-detail/{{c.consigner_id}}" routerLinkActive="active"> {{c.name }}  </a></td>
                                                    <td class="w140 text-center"><a mat-button class="link" routerLink="/sale-order-detail/{{c.sales_order_id}}" routerLinkActive="active">{{c.invoice_id}}</a></td>
                                                    <td class="w150 text-center"><a mat-button class="link" routerLink="/sale-order-detail/{{c.sales_order_id}}" routerLinkActive="active">{{c.aggre_id}}</a></td>
                                                    <td class="w80 text-center">{{c.accept_qty}}</td>
                                                </tr>
                                            </table> -->
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cs-table left-right-15 mt15" *ngIf="mode == '7' ">
                                    <div class="header" style="padding: 0px 15px;">
                                        <table>
                                            <tr>
                                                <th class="w30">&nbsp;</th>
                                                <th class="w100">Date</th>
                                                <th class="w120">Created By</th>
                                                <th class="w120">Equipment Id</th>
                                                <th class="w100 text-center">Last Stock</th>
                                                <th class="w100 text-center">Difference Qty</th>
                                                <th class="w100 text-center">Updated stock</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="table-container">
                                        <div class="table-body">
                                            <table *ngFor="let val of Manually_incoming; let i = index" >
                                                <tr>
                                                    <td class="w30">{{i+1}}</td>
                                                    <td class="w100">{{val.date_created   | date: 'dd MMM yyyy'}}</td>
                                                    <td class="w120">{{val.first_name}}</td>
                                                    <td class="w120">{{val.part_number}}</td>
                                                    <td class="w100 text-center">{{val.last_qty}}</td>
                                                    <td class="w100 text-center">{{ ( val.last_qty > val.updated_qty ) ? '-' : '+'  }}{{val.difference_qty}}</td>
                                                    <td class="w100 text-center">{{val.updated_qty}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="cs-table left-right-15" *ngIf="mode == '8' ">
                                    <div class="header sticky-head">
                                        <table class="sno-border">
                                            <tr >
                                                <th class="w40">&nbsp;</th>
                                                <th class="w170">Date</th>
                                                <th class="w130">Transfer Id</th>
                                                <th class="w120">From Branch</th>
                                                <!-- <th class="w120">To Branch</th> -->
                                                <th class="w130">Equipment Id</th>
                                                <th>Size</th>
                                                <th class="w200">Description</th>
                                                <th class="w80 text-center"> QTY</th>
                                                <th class="w80 text-center"> Accept Qty</th>
                                                <!-- <th class="w80 text-center">To QTY</th> -->
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="table-container">
                                        <div class="table-body">
                                            <table>
                                                <tr *ngFor="let p of branch_incoiming_stock; let i = index">
                                                    <td class="w40">{{i+1}}</td>
                                                    <td class="w170">{{p.date_created   | date: 'dd MMM yyyy'}} / {{p.first_name}}</td>
                                                    <td class="w130"><a mat-button class="link" routerLink="/transfer-stock-detail/{{p.branch_inter_transfer_stock_id}}" routerLinkActive="active">{{ p.invoice_id }} </a></td>
                                                    <td class="w120"><a mat-button class="link" routerLink="/branch-detail/{{p.branch_from_id}}" routerLinkActive="active">{{p.from_branch_name}} </a></td>
                                                    <!-- <td class="w120"><a mat-button class="link" routerLink="/branch-detail/{{p.branch_id}}" routerLinkActive="active">{{p.to_branch_name}} </a></td> -->
                                                    <td class="w130">{{p.part_number}}</td>
                                                    <td>{{p.dimensions}}</td>
                                                    <td class="w200">{{ p.description }}</td>
                                                    <td class="w80 text-center">{{p.qty}}</td>
                                                    <td class="w80 text-center">{{p.accept_qty}}</td>
                                                    <!-- <td class="w80 text-center">{{p.receive_qty}}</td> -->
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cs-table left-right-15" *ngIf="mode == '9' ">
                                    <div class="header sticky-head">
                                        <table class="sno-border">
                                            <tr >
                                                <th class="w40">&nbsp;</th>
                                                <th class="w170">Date</th>
                                                <th class="w130">Transfer Id</th>
                                                <!-- <th class="w120">From Branch</th> -->
                                                <th class="w120">To Branch</th>
                                                <th class="w130">Equipment Id</th>
                                                <th>Size</th>
                                                <th class="w200">Description</th>
                                                <!-- <th class="w80 text-center">From QTY</th> -->
                                                <th class="w80 text-center">QTY</th>
                                                <th class="w80 text-center">Accept QTY</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="table-container">
                                        <div class="table-body">
                                            <table>
                                                <tr *ngFor="let p of branch_incoiming_stock; let i = index">
                                                    <td class="w40">{{i+1}}</td>
                                                    <td class="w170">{{p.date_created   | date: 'dd MMM yyyy'}} / {{p.first_name}}</td>
                                                    <td class="w130"><a mat-button class="link" routerLink="/transfer-stock-detail/{{p.branch_inter_transfer_stock_id}}" routerLinkActive="active">{{ p.invoice_id }} </a></td>
                                                    <!-- <td class="w120"><a mat-button class="link" routerLink="/branch-detail/{{p.branch_from_id}}" routerLinkActive="active">{{p.from_branch_name}} </a></td> -->
                                                    <td class="w120"><a mat-button class="link" routerLink="/branch-detail/{{p.branch_id}}" routerLinkActive="active">{{p.to_branch_name}} </a></td>
                                                    <td class="w130">{{p.part_number}}</td>
                                                    <td>{{p.dimensions}}</td>
                                                    <td class="w200">{{ p.description }}</td>
                                                    <!-- <td class="w80 text-center">{{p.qty}}</td> -->
                                                    <td class="w80 text-center">{{p.receive_qty}}</td>
                                                    <td class="w80 text-center">{{p.accept_qty}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h100"></div>