<div class="main-container">
    <div class="master-heading bcspace">
        <div class="back-btn">
            <a mat-button><i class="material-icons">arrow_right_alt</i></a>
        </div> 
        <div class="top-search wp30 ml30">
            <input type="text" placeholder="SEARCH. . ." [(ngModel)]="search"  (keyup.enter)="getProductList()">
            <i class="material-icons">search</i>
        </div>
        <!-- <div class="m-right-data action-btns-right vl-info" *ngIf="save">
            <ul>
                <li class="create" (click)="update_qty(1)"><a mat-button>Save</a></li>
            </ul>
        </div>  -->
        
    </div>
    <div class="cs-container">
        <div class="cs-row cs-tabs-space">
            <app-stock-tab></app-stock-tab>
            <div class="right-data tabs-listing">
                <div class="cs-spinner full-page" *ngIf = "loading_list">
                    <div class="outer">
                        <div class="innear">
                            <mat-spinner></mat-spinner>
                            <P>LOADING . . .</P>
                        </div>
                    </div>
                </div>
                <div class="cs-table mt15">
                    <div class="header sticky-header">
                        <table class="sno-border">
                            <tr>
                                <th class="w150">Brand</th>
                                <th>Product</th>
                                <th class="w120 text-center">UOM</th>
                                <th class="w120 text-center">QTY.</th>
                                <th class="w130 text-center">Stock</th>
                                <th class="w200 text-center">Action</th>
                            </tr>
                        </table>
                    </div>
                    <div class="table-container">
                        <div class="table-body">
                            <table>
                                <tr *ngFor="let product of products; let i = index">
                                    <td class="w150">{{ product.brand_name }}</td>
                                    <td>{{ product.product_name }}</td>
                                    <td class="w120 text-center in-table">
                                        
                                        <ng-container *ngFor="let units of unit_prices">
                                            <table>
                                                <ng-container *ngFor="let val of units; let i = index">
                                                    <ng-container *ngIf="val.product_id == product.id">
                                                        <tr>
                                                            <td class="text-center">{{ val.unit_of_measurement }}</td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </table>
                                        </ng-container>
                                    </td>
                                    
                                    <td class="w120 text-center in-table">
                                        <ng-container *ngFor="let units of stock_qty">
                                            <table>
                                                <ng-container *ngFor="let val of units; let i = index">
                                                    <ng-container *ngIf="val.product_id == product.id; let v = index">
                                                        <tr >
                                                            <td class="text-center">
                                                                
                                                                <!-- {{ val.stock_qty | number : '1.2-2' }} -->
                                                                
                                                                
                                                                <div class="edit-td-input" [ngClass]="{'active' : val.updated_at == '' }">
                                                                    
                                                                    <i class="material-icons td-icon edit-icon" (click)="val.updated_at = '' " *ngIf="val.updated_at">create</i>
                                                                    
                                                                    <input  placeholder="Qty." [(ngModel)]="val.stock_qty" type="number" [name]="'update_qty'+i+v" #update_qty="ngModel" required [readonly]="val.updated_at">
                                                                    
                                                                    <i class="material-icons td-icon save-icon" (click)="update_stock(1)" *ngIf="val.updated_at == ''">save</i>
                                                                    
                                                                </div>
                                                                
                                                                
                                                            </td>
                                                            
                                                            
                                                        </tr>
                                                        <!-- <tr *ngIf="!val.updated_at">
                                                            <mat-form-field class="example-full-width cs-input">
                                                                <input matInput placeholder="Qty." [(ngModel)]="val.stock_qty" type="number" [name]="'update_qty'+i+v" #update_qty="ngModel" required >
                                                            </mat-form-field>
                                                        </tr> -->
                                                    </ng-container>
                                                </ng-container>
                                            </table>
                                        </ng-container>
                                    </td> 
                                    
                                    
                                    <td class="w130 text-center in-table">
                                        <ng-container *ngFor="let units of stock_qty">
                                            <table>
                                                <ng-container *ngFor="let val of units; let i = index">
                                                    <ng-container *ngIf="val.product_id == product.id">
                                                        <tr >
                                                            <td class="text-center">{{ val.stock_total  }}</td>
                                                        </tr>
                                                        
                                                        
                                                    </ng-container>
                                                </ng-container>
                                            </table>
                                        </ng-container>
                                    </td> 
                                    
                                    
                                    
                                    <td class="w200 text-center in-table">
                                        
                                        <ng-container *ngFor="let units of stock_qty">
                                            <table>
                                                <ng-container *ngFor="let val of units; let i = index">
                                                    <ng-container *ngIf="val.product_id == product.id">
                                                        <tr>
                                                            <td class="text-center">
                                                                <!-- <a mat-button  class="link" (click)="val.updated_at = ''; add(1) " *ngIf="val.updated_at ">Add Qty</a> -->
                                                                <a mat-button  class="link" (click)="val.updated_at = '1'; add(0) " *ngIf="val.updated_at == '' ">Cancel</a>
                                                                <a mat-button  routerLink="/material-incoming/{{val.product_id}}/{{val.id}}" routerLinkActive="active"  class="link">Transaction</a>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </table>
                                        </ng-container>
                                    </td>
             
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
</div>

<div class="h100"></div>