<div class="main-container">
  <div class="cs-spinner full-page" *ngIf="loading_list">
    <div class="outer">
      <div class="innear">
        <mat-spinner></mat-spinner>
        <P>LOADING . . .</P>
      </div>
    </div>
  </div>
  <div class="master-heading">
    <div class="heading">
      <h1>MASTER's</h1>
    </div>
  </div>
  <div class="cs-container">
    <div class="cs-row cs-tabs-space">
      <app-master-add-tabs></app-master-add-tabs>
      <div class="right-data">
        <form name="form" (ngSubmit)="f.form.valid && saveUser(f)" #f="ngForm" novalidate>
          <div class="contst">
            <div class="cs-heading">
              <h2>Add User</h2>
            </div>
            
            <div class="form-field">
              <div class="row">
                
                <div class="col-4 control-field" [ngClass]="{'hss-error' : role.invalid && f.submitted }">
                  <mat-form-field class="cs-multi-select">
                    <mat-select placeholder="Role" name="role"  #role="ngModel" [(ngModel)]="user.role" required>
                      <mat-option *ngFor="let val of roles" [value]="val.id">{{val.role_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div class="col-4 control-field" [ngClass]="{'hss-error' : first_name.invalid && f.submitted  }">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Name" name="first_name" #first_name="ngModel" [(ngModel)]="user.first_name" required>
                  </mat-form-field>
                </div>
                
                <div class="col-4 control-field" [ngClass]="{'hss-error' : email.invalid && f.submitted }">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Email/Username" name="email" #email="ngModel"  [(ngModel)]="user.email" required>
                  </mat-form-field>
                </div>
                
              </div>
              <div class="row">
                <div class="col-4 control-field" [ngClass]="{'hss-error' : phone.invalid && f.submitted }">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Mobile" name="phone" #phone="ngModel"  [(ngModel)]="user.phone" required>
                  </mat-form-field>
                </div>
                
                <!-- <div class="col-4 control-field" [ngClass]="{'hss-error' : address.invalid && f.submitted }">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Address" name="address" #address="ngModel"  [(ngModel)]="user.address">
                  </mat-form-field>
                </div> -->
                
                <div class="col-4 control-field">
                  <mat-form-field class="example-full-width cs-input">
                    <input matInput placeholder="Country" name="country_id" #country_id="ngModel" [value]="countries.id"  [(ngModel)]="user.country_id" required>
                  </mat-form-field>
                </div>
                <div class="control-field col-4 " >
                    <mat-form-field class="cs-multi-select">
                      <mat-select placeholder="Select State" name="state"  (selectionChange)="getDistrictList(1)" [(ngModel)]="user.state" #state="ngModel" required>
                        <mat-option *ngFor = "let val of states" [value]="val.state_name"> {{val.state_name}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="control-field col-4 ">
                    <mat-form-field class="cs-multi-select">
                      <mat-select placeholder="Select District" name="district"  (selectionChange)="getCityList(1)"  [(ngModel)]="user.district" #district="ngModel" required>
                        <mat-option *ngFor="let val of districts" [value]="val.district_name"> {{val.district_name}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="control-field col-4 pl0 pr0" style="padding-top: 0px !important;">
                  <div class="row">
                    <div class="control-field col-12">
                      <mat-form-field class="example-full-width cs-input">
                        <input matInput placeholder = "City" name = "city"  [(ngModel)] = "user.city" #city = "ngModel" >                                               
                      </mat-form-field>     
                    </div>
                    
                 
                      <mat-form-field class="cs-multi-select">
                        <mat-select placeholder="Select Pincode" name="pincode"  [(ngModel)]="user.pincode" #pincode="ngModel" required>
                          <mat-option *ngFor="let val of pincodes" [value]="val.pincode"> {{val.pincode}} </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                </div>
                
                <div class="control-field col-8 pl0 pr0" style="padding-top: 0px !important;">
                  <div class="row">
                    <div class="control-field col-12">
                      <mat-form-field class="example-full-width cs-input">
                        <textarea matInput placeholder="Address" class="h125" name="address" [(ngModel)] = "user.address" #address="ngModel" ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                
              </div>
              
            </div>
          </div>
          <div class="cs-btn fixedd mt32 text-right" [ngClass]="{loading: sendingData}">
            <div class="in-btn">
              <button mat-raised-button color="primary" type="submit" [attr.disabled]="sendingData">save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="h100"></div>
