<div class="stock-module">

    <mat-dialog-content class="convert-franchies-modle di-hidden">
      <div class="header  top-header" style="padding: 0px 10px 10px 10px;">
        <h1> {{ part_data.mode == '1' ? 'Branch Stock' : ( part_data.mode == '2' ? 'Customer Stock' : 'Intransit Stock' ) }}</h1>
        <button mat-button color="primary" mat-dialog-close class="mr0"><i class="material-icons">clear</i></button>
      </div>
      <div class="m-body form-field">
          <div class="cs-spinner full-page" *ngIf = "loading_list">
              <div class="outer">
                  <div class="innear">
                      <mat-spinner></mat-spinner>
                      <P>LOADING . . .</P>
                  </div>
              </div>
          </div>
    
        <div class="cs-table" *ngIf="part_data.mode == '1' ">
          <div class="header" style="padding: 0px 15px;">
            <table>
              <tr>
                <th class="w30">&nbsp;</th>
                <th>Branch Name</th>
                <th class="w120">Stock</th>
              </tr>
            </table>
          </div>
          <div class="table-container module-scroll">
            <div class="table-body">
              <table *ngFor="let val of branch; let i = index" >
                <tr>
                  <td class="w30">{{i+1}}</td>
                  <td >{{val.branch_name }}</td>
                  <td class="w120">{{val.stock}}</td>
                </tr>
                
              </table>
            </div>
          </div>
        </div> 
        
        
        <div class="cs-table" *ngIf="part_data.mode == '2' ">
            <div class="header" style="padding: 0px 15px;">
                <table>
                    <tr >
                        <th class="w30">&nbsp;</th>
                        <th class="w150">Customer</th>
                        <th class="w90 text-center">Total Stock</th>
                        <th class="w90 text-center">Pickup</th>
                        <th class="w150 text-center">Pickup Branch</th>
                    </tr>
                </table>
            </div>
            <div class="table-container module-scroll">
                <div class="table-body">
                    <table>
                      <tr *ngFor="let csne of branch; let i = index" >
                        <td class="w30">{{i+1}}</td>
                        <td class="w150">{{ csne.name }}</td>
                        <td class="w90 text-center">{{csne.stock}}</td>
                        <td class="w90 text-center">{{csne.pickup ? csne.pickup : 0}}</td>
                        <td class="w150 text-center">{{ csne.pickup ? csne.branch_name : ''}}</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div> 
    
        <div class="cs-table" *ngIf="part_data.mode == '3' ">
          <div class="header" style="padding: 0px 15px;">
              <table>
                  <tr >
                      <th class="w30">&nbsp;</th>
                      <th class="w150">Branch</th>
                      <th class="w150 text-center">InTransit Stock</th>
                  </tr>
              </table>
          </div>
          <div class="table-container module-scroll">
              <div class="table-body">
                  <table>
                    <tr *ngFor="let csne of branch; let i = index" >
                      <td class="w30">{{i+1}}</td>
                      <td class="w150">{{ csne.branch_name }}</td>
                      <td class="w150 text-center">{{csne.qty}}</td>
                    </tr>
                  </table>
              </div>
          </div>
      </div> 
        
        
        
      </div>
    </mat-dialog-content>
    
    </div>