

<div class="main-container" *ngIf="false">
    <div class="master-heading">
        <!-- <div class="vl-info">
            <ul>
                <li>
                        <mat-form-field class="cs-multi-select">
                                <mat-select placeholder="Source" name="source"  required>
                                    <mat-option value="WEEK">WEEK</mat-option>
                                    <mat-option value="MONTH">MONTH</mat-option>
                                    <mat-option value="YEAR">YEAR</mat-option>
                                </mat-select>
                            </mat-form-field>
                </li>
            </ul>
        </div> -->
        <div class="top-pagination m-right-data">
            <ul>
                <li class="refresh-area af-none" (click)="dashboard_data()">
                    <a class="refresh-btn" mat-raised-button  matTooltip="Refresh"><i class="material-icons"> refresh</i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="all-container" *ngIf="false">
    <div class="cs-row">
<div class="ds-dashboard" >
    <div class="dashboard-content">
        <div class="cs-spinner full-page" *ngIf = "loading_list">
            <div class="outer">
                <div class="innear">
                    <mat-spinner></mat-spinner>
                    <P>LOADING . . .</P>
                </div>
            </div>
        </div>
        <div class="form-field">
            <div class="row mb10">
                <div class="col-3 control-field" routerLink="/sale-order-list" routerLinkActive="active">
                    <div class="top-counter"  style="background: url(assets/img/dashboard-img/counter-bg-o.png) no-repeat; background-size: cover;">
                        <span>Pending Orders</span>
                        <p>{{dashboard.count_order}}</p>
                        <div class="bottom--overlay">
                            RS. {{dashboard.count_order_amount | currency:'INR'}}
                        </div>
                    </div>
                </div>
                <div class="col-3 control-field" routerLink="/order-invoice-list" routerLinkActive="active">
                    <div class="top-counter" style="background: url(assets/img/dashboard-img/counter-bg-g.png) no-repeat; background-size: cover;">
                        <span>Monthly Income</span>
                        <p>  {{ dashboard.count_inoice_amount_no }}  </p>
                        <div class="bottom--overlay">
                            {{dashboard.count_inoice_amount | currency:'INR'}}
                        </div>
                    </div>
                </div>
                
                <div class="col-3 control-field" routerLink="/order-invoice-list" routerLinkActive="active">
                    <div class="top-counter" style="background: url(assets/img/dashboard-img/counter-bg-g.png) no-repeat; background-size: cover;">
                        <span> Balance Payment</span>
                        <p>  {{dashboard.count_invoice_balance_no}}</p>
                        <div class="bottom--overlay">
                            {{dashboard.count_invoice_balance | currency:'INR'}}
                        </div>
                    </div>
                </div>
                

                <div class="col-3 control-field" routerLink="/sale-order-list" routerLinkActive="active">
                    <div class="top-counter"  style="background: url(assets/img/dashboard-img/counter-bg-o.png) no-repeat; background-size: cover;">
                        <span>Purchase Orders</span>
                        <p>{{dashboard.count_purchase_order_no}}</p>
                        <div class="bottom--overlay">
                            RS. {{dashboard.count_purchase_order_receive | currency:'INR'}}
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        
        <div class="row mb15">
            
            <div class="col-12">
                <div class="lg-grapgh">
                    <div class="top-sprate">
                            <div class="sm-tab tab-left clr-tab" style="margin-left: 0px;">
                                    <ul>
                                        <li   (click)="filter.graphType = 'Lead'; dashboard_data() ">
                                            <a [ngClass]="{'active': filter.graphType == 'Lead' || !filter.graphType }"  >Lead</a>
                                        </li>
                                        <li (click)="filter.graphType = 'Invoice'; dashboard_data() ">
                                            <a [ngClass]="{'active': filter.graphType == 'Invoice' }">Invoice</a>
                                        </li>

                                        <li (click)="barChartType = 'line'; " *ngIf="barChartType == 'bar' ">
                                            <a >Line</a>
                                        </li>

                                        <li (click)="barChartType = 'bar'; " *ngIf="barChartType == 'line' ">
                                            <a >Bar</a>
                                        </li>


                                    </ul>
                                </div>
                                <p>{{filter.graphType  == 'Invoice' ? 'Sales Order & Invoice' : ( filter.graphType  == 'Lead' ? 'Leads' : ''  ) }}  {{!filter.graphType ? 'Leads' : ''}}</p>
                                <div class="sm-tab" style="margin-left: 0px;">
                                        <ul>
                                            <li (click)="filter.leadfilter = 'WEEK'; dashboard_data() ">
                                                <a [ngClass]="{'active': filter.leadfilter === 'WEEK' || !filter.leadfilter }"  >WEEK</a>
                                            </li>
                                            <li (click)="filter.leadfilter = 'MONTH' ;  dashboard_data()">
                                                <a [ngClass]="{'active': filter.leadfilter === 'MONTH' }" >MONTH</a>
                                            </li>
                                            <li (click)="filter.leadfilter = 'YEAR' ;  dashboard_data()">
                                                <a [ngClass]="{'active': filter.leadfilter === 'YEAR' }" >YEAR</a>
                                            </li>
                                        </ul>
                                    </div>
                    </div>
                        <canvas baseChart width="70" height="20"
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                        </canvas>
                </div>
                
        </div>
        </div>
    
    
    
    
    <div class="row mb30">
        <div class="col-4 pr15">
            <div class="ds-figure-list">
                <ul>
                    <li  matRipple routerLink="/purchases" routerLinkActive="active">
                        <div class="ds-figure">
                            <div class="figure-icon blue-bg">
                                <div class="outer">
                                    <div class="innear">
                                        <span class="ds-icon"><img src="assets/img/dashboard-img/ds-order.svg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-description">
                                <p>{{dashboard.count_purchase_order}}</p>
                                <span>Pending Purchase Order</span>
                            </div>
                        </div>
                    </li>
                    <li  matRipple routerLink="/leads" routerLinkActive="active">
                        <div class="ds-figure">
                            <div class="figure-icon green-bg">
                                <div class="outer">
                                    <div class="innear">
                                        <span class="ds-icon">{{dashboard.count_consumer_lead + dashboard.count_franchise_lead }}</span>
                                        <!-- <img src="assets/img/dashboard-img/delar.svg"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="figure-description">
                                <p>
                                    <span>F-{{dashboard.count_franchise_lead }}</span>
                                    <span class="sprater">|</span>
                                    <span>C-{{dashboard.count_consumer_lead }}</span>
                                </p>
                                <span>Total Lead</span>
                            </div>
                        </div>
                    </li>
                    <li  matRipple  routerLink="/followups" routerLinkActive="active">
                        <div class="ds-figure">
                            <div class="figure-icon yellow-bg">
                                <div class="outer">
                                    <div class="innear">
                                        <span class="ds-icon"><img src="assets/img/dashboard-img/ds-followup.svg" style="height:40px; margin-top: 15px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-description">
                                <p>{{dashboard.count_follow_ups}}</p>
                                <span>Today's FollowUp</span>
                            </div>
                        </div>
                    </li>
                    <li  matRipple routerLink="/franchise-list" routerLinkActive="active">
                        <div class="ds-figure">
                            <div class="figure-icon sky-bg">
                                <div class="outer">
                                    <div class="innear">
                                        <span class="ds-icon"><img src="assets/img/dashboard-img/ds-franchise.svg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-description">
                                <p>{{dashboard.count_franchises}}</p>
                                <span>Total Franchises</span>
                            </div>
                        </div>
                    </li>
                    <li  matRipple routerLink="/vendors" routerLinkActive="active">
                        <div class="ds-figure">
                            <div class="figure-icon purple-bg">
                                <div class="outer">
                                    <div class="innear">
                                        <span class="ds-icon"><img src="assets/img/dashboard-img/ds-branch.svg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="figure-description">
                                <p>{{dashboard.count_vendors}}</p>
                                <span>Registered Vendors</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4 pr15">
            <div class="cs-graph">
                <p>Consumer Wise Top 5 Franchise</p>
                 <div class="sm-tab">
                    <ul>
                        <li (click)="filter.chart_franhcise_counsumers_filter = 'TODAY'; dashboard_data() ">
                            <a  [ngClass]="{'active': filter.chart_franhcise_counsumers_filter == 'TODAY' }"  > TODAY</a>
                        </li>

                        <li (click)="filter.chart_franhcise_counsumers_filter = 'WEEK'; dashboard_data() ">
                            <a  [ngClass]="{'active': filter.chart_franhcise_counsumers_filter == 'WEEK' || !filter.chart_franhcise_counsumers_filter }"  > WEEK</a>
                        </li>

                        <li (click)="filter.chart_franhcise_counsumers_filter = 'MONTH'; dashboard_data() ">
                            <a  [ngClass]="{'active': filter.chart_franhcise_counsumers_filter == 'MONTH' }"  >MONTH</a>
                        </li>

                        <li (click)="filter.chart_franhcise_counsumers_filter = 'YEAR'; dashboard_data() ">
                            <a  [ngClass]="{'active': filter.chart_franhcise_counsumers_filter == 'YEAR' }"  >YEAR</a>
                        </li>
                        
                    </ul>
                </div>
                <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [legend]="pieChartLegend">
            </canvas>
            <div class="graph-table">
                <table>
                    <tr >
                        <th *ngFor="let val of dashboard.chart_franhcise_counsumers_arr1">{{val}} </th>
                    </tr>
                    <tr >
                        <td *ngFor="let val of dashboard.chart_franhcise_counsumers_arr2">{{val}}</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
    <div class="col-4">
        <div class="cs-graph">
                <p>Invoice Wise Top 5 Franchise</p>
                <div class="sm-tab">
                        <ul>
                            <li (click)="filter.chart_franhcise_profit_filter = 'TODAY'; dashboard_data() ">
                                <a  [ngClass]="{'active': filter.chart_franhcise_profit_filter == 'TODAY' }"  > TODAY</a>
                            </li>
                            <li (click)="filter.chart_franhcise_profit_filter = 'WEEK'; dashboard_data() ">
                                <a  [ngClass]="{'active': filter.chart_franhcise_profit_filter == 'WEEK' || !filter.chart_franhcise_profit_filter }"  > WEEK</a>
                            </li>
    
                            <li (click)="filter.chart_franhcise_profit_filter = 'MONTH'; dashboard_data() ">
                                <a  [ngClass]="{'active': filter.chart_franhcise_profit_filter == 'MONTH' }"  > MONTH</a>
                            </li>
    
                            <li (click)="filter.chart_franhcise_profit_filter = 'YEAR'; dashboard_data() ">
                                <a  [ngClass]="{'active': filter.chart_franhcise_profit_filter == 'YEAR' }"  > YEAR</a>
                            </li>
                            
                        </ul>
                    </div>
            <canvas baseChart
            [data]="pieChartData2"
            [labels]="pieChartLabels2"
            [chartType]="pieChartType2"
            [options]="pieChartOptions2"
            [legend]="pieChartLegend2">
        </canvas>
        
        <div class="graph-table">
            <table>
                <tr >
                    <th *ngFor="let val of dashboard.chart_franhcise_profit_arr1">{{val}}</th>
                </tr>
                
                <tr >
                    <td *ngFor="let val of dashboard.chart_franhcise_profit_arr2">{{val | currency:'INR'}}</td>
                </tr>
            </table>
        </div>
    </div>
    
</div>



</div>

<div class="row mb30">
        <div class="col-4 pr15">
            <div class="ds-detail">
                <div class="ds-table">
                    <div class="ds-table-header">
                        <div class="cs-left">
                            <p>Stock List</p>
                            <span>{{filter.category ? filter.category : 'Raw Material'}}</span>
                            <button class="vert-btn" [matMenuTriggerFor]="menu"><i class="material-icons">more_horiz</i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)='filter.category = "Raw Material";dashboard_data();'>Raw Material</button>
                                <button mat-menu-item (click)='filter.category = "Accessory";dashboard_data();'>Accessory</button>
                                <button mat-menu-item (click)='filter.category = "Finish Good";dashboard_data();'>Finish Good</button>
                            </mat-menu>
                        </div>
                        <div class="cs-right">
                            <span class="red-clr" (click)='filter.stock_alert = "low-stock";dashboard_data();'>Low Stock</span>
                            <span class="blue-clr" (click)='filter.stock_alert = "adequate";dashboard_data();'>Adequate</span>
                        </div>
                    </div>
                    
                    
                    <div class="ds-table-content pt0">
                        <div class="ds-body  bdr-left">
                            <table>
                                <tr *ngFor="let val of dashboard.list_stock;let i = index;" routerLink="/material-incoming/{{val.product_id}}/{{val.id}}" routerLinkActive="active">
                                    <td>
                                        <span>{{val.brand_name}}</span>
                                        <p>{{val.product_name}} ({{val.unit_of_measurement}})</p>
                                    </td>
                                    <td class="w200">
                                        <!-- [ngClass]="{'low-stock':val.stock_qty <= val.stock_alert,'adequate':val.stock_qty > val.stock_alert }" -->
                                        <div class="stock-box {{filter.stock_alert?filter.stock_alert:'low-stock'}}" >
                                            <ng-container *ngIf="!filter.category || filter.category == 'Raw Material' "> {{val.stock_qty}} / {{val.stock_total}} </ng-container> 
                                            <ng-container *ngIf="filter.category && filter.category != 'Raw Material' "> {{val.sale_qty}}</ng-container>
                                        </div>
                                    </td>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-4 pr15" *ngIf="false">
                <div class="ds-detail">
                    <div class="ds-table">
                        <div class="ds-table-header">
                            <div class="cs-left">
                                <p>Job Cards</p>
                            </div>
                            <div class="cs-right">
                                <span class="red-clr">Open</span>
                                <span class="green-clr">Close</span>
                            </div>
                        </div>
                        <div class="ds-table-content pt0">
                            <div class="ds-body  bdr-left">
                                <table>
                                    <tr >
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td class="w20">
                                            <span class="status open">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td class="w20">
                                            <span class="status close">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td>
                                            <span class="status open">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td class="w20">
                                            <span class="status close">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td>
                                            <span class="status open">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td class="w20">
                                            <span class="status close">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td>
                                            <span class="status open">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td class="w20">
                                            <span class="status close">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td>
                                            <span class="status open">&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Suv (DL 14 CE 9393) JD#24 / <a>Nichay Batra</a></p>
                                        </td>
                                        <td class="w20">
                                            <span class="status close">&nbsp;</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-4 pr15">
                <div class="ds-detail">
                    <div class="ds-table">
                        <div class="ds-table-header">
                            <div class="cs-left" (click)="filter.order_status = '';dashboard_data(); ">
                                <p>Orders</p>
                            </div>
                            <div class="cs-right">
                                <span class="red-clr" (click)="filter.order_status = 'Pending';dashboard_data(); ">Pending</span>
                                <span class="green-clr" (click)="filter.order_status = 'Approved';dashboard_data(); ">Approved</span>
                            </div>
                        </div>
                        
                        
                        <div class="ds-table-content pt0" style="min-height: 450px; max-height: 450px;">
                            <div class="ds-body  bdr-left">
                                <table>
                                    <tr *ngFor="let val of dashboard.list_sales_order;let i = index;" routerLink="/sale-order-detail/{{val.id}}" routerLinkActive="active">
                                        
                                        <td>
                                            <div class="ds-flex">
                                                <!-- <span>Invoice #{{val.invoice_id}} </span> -->
                                                <span>Order #{{val.id}}</span>
                                            </div>
                                            
                                            <p>(F) {{val.company_name}}/ {{val.contact_no}}</p>
                                        </td>
                                        <td class="w100">
                                            <div class="flex-content">
                                                <p>{{val.order_total}}</p>
                                                <span class="status {{val.status}}">&nbsp;</span>
                                            </div>
                                            
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <div class="fix-content">
                            <div class="ds-table-content">
                                <div class="ds-body  bdr-left">
                                    <table>
                                        <tr>
                                            <td>
                                                Total
                                            </td>
                                            <td class="w100 text-right">
                                                &#8377; {{dashboard.total_sales_order | currency:'INR'}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-4">
                <div class="ds-detail">
                    <div class="ds-table">
                        <div class="ds-table-header">
                            <div class="cs-left" (click)="filter.payment_status = '';dashboard_data(); ">
                                <p>Invoices</p>
                            </div>
                            <div class="cs-right">
                                <span class="red-clr" (click)="filter.payment_status = 'Pending';dashboard_data(); ">Pending</span>
                                <span class="green-clr" (click)="filter.payment_status = 'Paid';dashboard_data(); ">Paid</span>
                            </div>
                        </div>
                        
                        
                        <div class="ds-table-content pt0" style="min-height: 450px; max-height: 450px;">
                            <div class="ds-body  bdr-left">
                                <table>
                                    <tr *ngFor="let val of dashboard.list_sales_invoice;let i = index;" routerLink="/order-invoice-detail/{{val.id}}" routerLinkActive="active">
                                        
                                        <td>
                                            <div class="ds-flex">
                                                <span>Invoice #{{val.invoice_id}} </span>
                                                <span>Order #{{val.order_id}}</span>
                                            </div>
                                            
                                            <p>({{val.type}}) {{val.company_name}}/ {{val.contact_no}}</p>
                                        </td>
                                        <td class="w100">
                                            <div class="flex-content">
                                                <p>&#8377; {{val.invoice_total}}</p>
                                                <span class="status {{val.status}}">&nbsp;</span>
                                            </div>
                                            
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <div class="fix-content">
                            <div class="ds-table-content">
                                <div class="ds-body  bdr-left">
                                    <table>
                                        <tr>
                                            <td>
                                                Total
                                            </td>
                                            <td class="w100 text-right">
                                                {{dashboard.total_sales_invoice | currency:'INR'}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

<div class="row">
    <div class="col-8 pr15">
        <div class="ds-detail">
            <div class="ds-table flat-table">
                <div class="ds-table-header">
                    <div class="cs-left">
                        <p>Sales Agent</p>
                    </div>
                    <div class="cs-right">
                        <span class="blue-clr">Consumer</span>
                        <span class="red-clr">Franchise</span>
                        <span class="green-clr">Followup's</span>
                    </div>
                </div>
                <div class="ds-table-content pt0" style="min-height: 430px; max-height: 430px;">
                    <div class="ds-body">
                        <table>
                            <tr *ngFor="let val of dashboard.sales_list; let i = index; " >
                                <td> {{val.first_name}}</td>
                                <td class="w100 text-center blue-clr">{{val.consumer}}</td>
                                <td class="w90 text-center red-clr">{{val.franchise}}</td>
                                <td class="w80 text-center green-clr">{{val.count_follow_ups}}</td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-4">
        <div class="ds-detail">
            <div class="ds-table flat-table">
                <div class="ds-table-header">
                    <div class="cs-left">
                        <p>Franchise</p>
                    </div>
                    <div class="cs-right">
                        <span class="red-clr">Low Stock</span>
                    </div>
                </div>
                <div class="ds-table-content pt0" style="min-height: 430px; max-height: 430px;">
                    <div class="ds-body">
                        <table>
                            <tr *ngFor="let val of dashboard.franchise_stock; let i = index; "  routerLink="/franchise-stock/{{val.id}}" routerLinkActive="active">
                                <td> {{val.company_name}}</td>
                                <td class="w70 text-center red-clr">{{val.stock}}</td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<div class="main-container">
    <div class="coming-data">
        <h2>Comingsoon...</h2>
    </div>
</div>

<div class="h50"></div>
